@font-face {
    font-family: myFirstFont;
    src: url(fonts/minecraft-enchantment.ttf);
}

div {
    font-family: minecraft-enchantment;
}

@media all and (prefers-color-scheme: dark) {
    html {
        /* padding-bottom: 400px; */
        /* color: #ebdbb2; */
        font-family: sans-serif;
        /* background: #1d2021; */
        background: #000000;
        color: #f0eeea;
    }
    a {
        /* color: #689d6a; */
        text-decoration: none;
        color: #2c3390;
    }
    a:hover {
        /* color: #fe8019; */
        color: #8e0522;
    }
    body {
        /* max-width: 1050px; */
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        overflow: none;
    }
    /* The two panels on the main page: */
    .mainpanel {
        float: left;
        max-width: 700px;
    }
    .sidepanel {
        float: left;
        max-width: 300px;
    }
    a:hover img {
        /* background: #fe8019; */
        background: #540d4d;
    }
    ul {
        list-style: none;
    }
    ul li::before {
        content: "\2022";
        color: #214b14;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }
    /* Blog entry: */
    .entry {
        padding: 10px;
        border-radius: 0 30px 30px 0;
        margin-bottom: 40px;
        background: #151a34;
        border-left: 10px solid #8e0522;
    }
    .entry h2 {
        margin: 5px auto 2px auto;
    }
    footer strong {
        font-weight: bold;
    }
    dt {
        font-weight: bold;
    }
    /* Class name of video thumbnails in videos.html */
    .image {
        width: 175px !important;
        table-layout: fixed;
        margin-left: auto;
        margin-right: auto;
        display: inline-table;
        padding: 0px;
    }
    img.centered {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    figcaption {
        padding: 0px;
        max-width: 175px;
    }
    code {
        /* color: #b8bb26; */
        overflow-x: auto;
        /* background: #1d2021; */
    }
    pre {
        border: 3px solid #a36032;
        padding: 5px;
        display: block;
        /* background: #1d2021; */
    }
    .indexcolname {
        max-width: 100px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .indexcoldesc {
        font-weight: bold;
        padding: 10px;
        font-size: large;
    }
    .indexcollastmod,
    .indexcolsize {
        font-size: small;
    }
    #indexlist {
        margin: 0px auto;
    }
    .centerpiece {
        align: center;
        margin: 0px auto;
    }
    /* Used in library.html */
    .booklist dt {
        display: list-item;
        list-style-type: square;
        font-weight: normal;
    }
    .booklist dd {
        display: none;
    }
    .booklist:hover dd {
        display: block;
    }
    /* The mic class is for books featured in a NotRelated episode. */
    .mic:before {
        ontent: "ðŸŽ™ï¸";
    }
    .mic {
        list-style: none;
        padding-left: 1em;
        text-indent: -1em;
        margin-left: 0;
        padding-left: 0;
    }
    h1 {
        /* color: #cc241d; */
        /* text-shadow: -2px 0 black, -2px -2px black, 0 -2px black; */
    }
    h2 {
        /* color: #83a598; */
        /* text-shadow: -2px 0 black, -2px -2px black, 0 -2px black; */
    }
}

@media not all and (prefers-color-scheme: dark) {
    html {
        background-color: #FFFFFF;
    }
    body {
        font-family: courier;
        font-size: 10pt;
        background-color: #55FFFF;
        border-style: solid;
        border-width: 8px;
        border-color: #0000AA;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        max-width: 760px;
        padding: 0px 20px 0px 20px;
    }
    h1 {
        color: #AA00AA;
    }
    strong {
        color: #00AA00;
    }
    a {
        color: #AA0000;
        text-decoration: underline;
        text-decoration-color: #0000FF;
    }
    u {
        text-decoration: underline;
        text-decoration-color: #0000FF;
    }
}